.person-details-list {
  text-align: center;
  border: 1px solid;

  width: 500px;

  margin: 20px 0px 10px 235px;
}

.person-details-list li {
  list-style-type: none;
}

.person-details-list li span {
  font-weight: bold;
}

.home-container {
  height: 100%;
}

.person-scroll-list {
  overflow-y: auto;
  height: 300px;

  margin-top: 10px;
}
